<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="2px">
        
                <tr>
                    <th>id</th>
                    <th>topic name</th>
                    <th>name</th>
                    <th>url</th>
                    <th>email</th>
                </tr>
             {% for i in WOS %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.topic_name}}</td>
                <td>{{i.name}}</td>
                <td>{{i.url}}</td>
                <td>{{i.email}}</td>
            </tr>
            {% endfor %}
        </table>

        
    </center>
    
</body>
</html>