<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>selecting mulltiple options</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">topic_name</label>
            <select name="tn" id="tn" multiple>
                {% for i in QLTO %}
                <option value="{{i.topic_name}}">{{i.topic_name}}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit">
        </form>
    </center>
</body>
</html>